In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.model_selection import train_test_split
import pandas as pd
import graphviz

In [ ]:
df = pd.read_csv("data_banknote_authentication.csv")
print(df.head())

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [ ]:
X = df.drop('class', axis=1)
y = df['class']
print(X)
print(y)

      variance  skewness  curtosis  entropy
0      3.62160   8.66610   -2.8073 -0.44699
1      4.54590   8.16740   -2.4586 -1.46210
2      3.86600  -2.63830    1.9242  0.10645
3      3.45660   9.52280   -4.0112 -3.59440
4      0.32924  -4.45520    4.5718 -0.98880
...        ...       ...       ...      ...
1367   0.40614   1.34920   -1.4501 -0.55949
1368  -1.38870  -4.87730    6.4774  0.34179
1369  -3.75030 -13.45860   17.5932 -2.77710
1370  -3.56370  -8.38270   12.3930 -1.28230
1371  -2.54190  -0.65804    2.6842  1.19520

[1372 rows x 4 columns]
0       0
1       0
2       0
3       0
4       0
       ..
1367    1
1368    1
1369    1
1370    1
1371    1
Name: class, Length: 1372, dtype: int64

In [ ]:
y.unique()

array([0, 1])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20,random_state=11)

In [ ]:
X_train

      variance  skewness  curtosis   entropy
368   3.498500   3.16390  0.226770 -0.165100
946  -0.001285   0.13863 -0.196510  0.008175
260   3.773100   7.20730 -1.681400 -0.947420
989  -6.752600   8.81720 -0.061983 -3.725000
461   3.094800   8.73240 -2.900700 -0.966820
...        ...       ...       ...       ...
332   3.559400   1.30780  1.291000  1.655600
1293 -3.969800   3.68120 -0.600080 -4.013300
1361 -1.573200   1.06360 -0.712320 -0.838800
1115 -0.298580   2.47690 -2.951200 -0.661650
1104 -3.019300   1.77750  0.737450 -0.453460

[1097 rows x 4 columns]

In [ ]:
X_test

     variance  skewness  curtosis  entropy
221  2.419600   6.46650  -0.75688  0.22800
214  4.196200   0.74493   0.83256  0.75300
658  1.040000  -6.93210   8.28880 -1.29910
726  0.040498   8.52340   1.44610 -3.93060
625  4.094800  -2.96740   2.36890  0.75429
..        ...       ...       ...      ...
104  4.202700   0.22761   0.96108  0.97282
442  3.359000   9.80220  -3.82090 -3.71330
489  2.823700   2.85970   0.19678  0.57196
626  1.838400   6.06300   0.54723  0.51248
86  -1.131300   1.90370   7.53390  1.02200

[275 rows x 4 columns]

In [ ]:
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [ ]:
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[161   3]
 [  0 111]]
              precision    recall  f1-score   support

           0       1.00      0.98      0.99       164
           1       0.97      1.00      0.99       111

    accuracy                           0.99       275
   macro avg       0.99      0.99      0.99       275
weighted avg       0.99      0.99      0.99       275

We got 99% accuracy and high precision and recall scores too.

In [ ]:
dot_data = tree.export_graphviz(classifier, out_file=None,
            feature_names = X_train.columns,class_names = "class",
            filled = True, rounded = True,special_characters = True)
graph = graphviz.Source(dot_data)
graph.render("dtree")

'dtree.pdf'

First pdf file genterated with name of dtree.pdf

# New section
Gini index is the default criterion in sklearn. We can also use the entropy and, in addition, specify the maximum depth of the tree.

In [ ]:
classifier = DecisionTreeClassifier(criterion="entropy",max_depth=4)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [ ]:
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[157   7]
 [  4 107]]
              precision    recall  f1-score   support

           0       0.98      0.96      0.97       164
           1       0.94      0.96      0.95       111

    accuracy                           0.96       275
   macro avg       0.96      0.96      0.96       275
weighted avg       0.96      0.96      0.96       275

In [ ]:
dot_data = tree.export_graphviz(classifier, out_file=None,
            feature_names = X_train.columns,class_names = "class",
            filled = True, rounded = True,special_characters = True)
graph = graphviz.Source(dot_data)
graph.render("dtree2")

'dtree2.pdf'

Second pdf file genterated with name of dtree2.pdf